.topo{
    height: 50px;
}

.botao-visao{
    cursor: pointer;
    height: 55px;
    margin-top: 15px;
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: none;
}

.visao-padrao{
    width: 170px;
    float: left;
    border: 1px white solid;
    padding: 15px;
    text-align: center;
}

.visao-swebok{
    width: 170px;
    float: left;
    border: 1px white solid;
    padding: 15px;
    text-align: center;
}

.visao-padrao:hover{
    background-color: white;
    color: black;
}

.visao-swebok:hover{
    background-color: white;
    color: black;
}

.menu{
    background-color: #CCC;
}

.menu li{
    list-style: none;
}

.titulo-area-principal{
    font-size: 15px;
    font-weight: bold;
}

.topico{
    font-size: 13px;
    margin-left: 8px;
    margin-top: 8px;
}

.topico a{
    color: black;
}

.topico a:hover{
    color: black;
}

.conteudo ul,li{
    list-style: none;
}