.titulo{
    height: 40px;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.grafico{
    height: 530px;
}

.topo{
    height: 50px;
}

.artigo{
    color: black;
    height: auto;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.artigo h1{
    text-align: center;
}

.artigo-secundario{
    display: none;
}

.artigo-swebok{
    display: none;
}

.botao-visao{
    cursor: pointer;
    height: 55px;
    margin-top: 25px;
    color: black;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.visao-padrao{
    width: 170px;
    float: left;
    border: 1px black solid;
    padding: 15px;
    text-align: center;
}

.visao-swebok{
    width: 170px;
    float: left;
    border: 1px black solid;
    padding: 15px;
    text-align: center;
}

.visao-padrao:hover{
    background-color: black;
    color: white;
}

.visao-swebok:hover{
    background-color: black;
    color: white;
}

* {
  font-family: Lato;
}

.content h1 {
  font-weight: 300;
  text-align: center;
}

svg {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}
svg text.middle {
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
}
svg .nvd3.nv-pie .nv-pieLabels text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  fill: #fff !important;
}

.nv-slice{
    cursor: pointer;
}